*.DS_Store
*.log
*.pyc
*.pyo
*.sqlite?
*.sqlite3
*.sw?
.venv
*/.venv/*
*.pyc
*.pid
*.sock
*.orig
*.out
*.lock
build
dist
ChangeLog
tags
pep8.txt
pylint.txt
reports
.idea
*.iml
*.log
*.vim
test_email.py
*_ldap.py
venv
.ropeproject
local_settings.py
iroman/static/
