<div class="col-md-12">
    <!-- BEGIN CHART PORTLET-->
    <div class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-speedometer  font-green-haze"></i>
                <span class="caption-subject bold uppercase font-green-haze">{[{ 'overview.summary' | i18next }]}</span>
                <span class="caption-helper"></span>
            </div>
        </div>
        <div class="portlet-body">
            <div class="row">
                <div class="col-md-3">
                    <div class="dashboard-stat purple-plum">
                        <div class="visual">
                            <i class="fa fa-circle-o-notch"></i>
                        </div>
                        <div class="details">
                            <div class="number">
                                {[{ summary.fish_today | number }]}
                            </div>
                            <div class="desc">
                                {[{ 'overview.registered_today' | i18next }]}
                            </div>
                        </div>
                        <a href="#/instance/" class="more">
                            {[{ 'view_more'|i18next }]}  <i class="m-icon-swapright m-icon-white"></i>
                        </a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="dashboard-stat blue-madison">
                        <div class="visual">
                            <i class="fa fa-desktop"></i>
                        </div>
                        <div class="details">
                            <div class="number">
                                {[{ summary.fish_total }]}
                            </div>
                            <div class="desc">
                                {[{ 'overview.registered_total' | i18next }]}
                            </div>
                        </div>
                        <a href="#/instance/" class="more">
                            {[{ 'view_more'|i18next }]} <i class="m-icon-swapright m-icon-white"></i>
                        </a>
                    </div>
                </div>  
                <div class="col-md-3">
                    <div class="dashboard-stat green-haze">
                        <div class="visual">
                            <i class="fa fa-globe"></i>
                        </div>
                        <div class="details">
                            <div class="number">
                                {[{ summary.mobile_black_today | number }]}
                            </div>
                            <div class="desc">
                                {[{ 'overview.mobile_black_today' | i18next }]}
                            </div>
                        </div>
                        <a href="#/floating/" class="more">
                            {[{ 'view_more'|i18next }]}  <i class="m-icon-swapright m-icon-white"></i>
                        </a>
                    </div>
                </div>
                
                <div class="col-md-3">
                    <div class="dashboard-stat red-pink">
                        <div class="visual">
                            <i class="fa fa-stack-exchange"></i>
                        </div>
                        <div class="details">
                            <div class="number"> 
                                {[{ summary.mobile_black_total | number }]}
                            </div>
                            <div class="desc">
                                {[{ 'overview.mobile_black_total' | i18next }]}
                            </div>
                        </div>
                        <a href="#/volume/" class="more">
                            {[{ 'view_more'|i18next }]}  <i class="m-icon-swapright m-icon-white"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END CHART PORTLET-->
</div>