<!-- BEGIN PAGE HEADER-->
<!-- END PAGE HEADER-->
<!-- BEGIN MAIN CONTENT -->
<div class="row">
    <!-- BEGIN MAIN LEFT -->
    <div class="col-md-12">
        <div data-ng-include="'/static/cloud/views/overview/overview_statistic.html?t='+seed">
        </div>
    </div>
    <!-- END MAIN LEFT -->
</div>
<!-- END MAIN CONTENT -->
<div class="row">
    <!-- BEGIN MAIN LEFT -->
    <div class="col-md-12">
        <div data-ng-include="'/static/cloud/views/overview/overview_fish.html?t='+seed">
        </div>
    </div>
    <!-- END MAIN LEFT -->
</div>

<div class="row">
    <!-- BEGIN MAIN LEFT -->
    <div class="col-md-12">
        <div data-ng-include="'/static/cloud/views/overview/overview_mobile_black.html?t='+seed">
        </div>
    </div>
    <!-- END MAIN LEFT -->
</div>