<div class="page-sidebar navbar-collapse collapse">
    <ul class="page-sidebar-menu"
        data-keep-expanded="false"
        data-auto-scroll="true"
        data-slide-speed="300">

        <li class="sidebar-toggler-wrapper">
            <div class="sidebar-toggler">
            </div>
        </li>

        {% for menu_group in menu %}
        {% if menu_group.title %}
        <li class="heading">
            <h3 class="uppercase">{{ menu_group.title }}</h3>
        </li>
        {% endif %}

        {% for menu in menu_group.menus %}
        {% if menu.menus %}
        <li>
            <a href="javascript:void(0)">
                <i class="{{ menu.icon }}"></i>
                <span class="title"> {{ menu.title }} </span>
                <span class="arrow"></span>
            </a>
            <ul class="sub-menu">
                {% for item in menu.menus %}
                <li>
                    <a href="{{ item.url }}">
                        <i class="{{ item.icon }}"></i>
                        <span class="title"> {{ item.title }} </span>
                    </a>
                </li>
                {% endfor %}

            </ul>
        </li>
        {% else %}
        <li>
            <a href="{{ menu.url }}">
                <i class="{{ menu.icon }}"></i>
                <span class="title">{{ menu.title }}</span>
            </a>
        </li>
        {% endif %}
        {% endfor %}
        {% endfor %}
    </ul>
</div>
